{% extends "layout.html" %}

{%  block content %}
<h1>
    Bienvenid@ {{usuario}} <a href="/cerrar" class="btn btn-danger"> Salir</a>
</h1>

{% include('modal.html') %}
<a href="\lcultivos" class="btn btn-primary">Ver cultivos</a>
<a href="\lventas" class="btn btn-primary">Ver ventas</a>
<a href="\lfincas" class="btn btn-primary">Ver fincas</a>
<a href="\llotes" class="btn btn-primary">Ver lotes</a>

<a onclick="cargar_formulario()" class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">Nueva venta</a>

<h2>Ventas</h2>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id venta</th>
        <th scope="col">Cultivo</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
            {% for item in ventas %}
            <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.id_cultivo}}</td>
                <td>{{item.precio}}</td>
                <td>{{item.cantidad}}</td>
            </tr>
            {% endfor %}
    </tbody>
  </table>

  <script>
    function cargar_formulario(){
        const formulario = `
                <form action="/guardar_venta" method="POST">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Id del cultivo:</label>
                    <input type="text" class="form-control" name="id_cultivo"  value="">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Precio:</label>
                    <input type="text" class="form-control" name="precio"  value="">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Cantidad:</label>
                    <input type="text" class="form-control" name="cantidad"  value="">
                  </div>
                  <div class="modal-footer">
                    <button  type="submit" class="btn btn-primary">Guardar</button>
                  </div>
                </form> 
        `;
        $("#fromartc").html(formulario);
    }   
    
 </script>

{% endblock %}